*,
*::after,
*::before{
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
    min-height: 64px;
    width: 100%;
    background-color: #2196F3;
}

.header__nav {
    width: 80%;
    margin: 0 auto;
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}

.list__item {
    padding: 23px 10px;
    transition: all .2s linear;
}

.list__item.active {
    background-color: #1E88E5;
    cursor: pointer;
}


.list__item.active > a{
    color: #fff;
}

.nav__link {
    text-decoration: none;
    font-size: 14px;
    color:rgba(255, 255, 255, 0.7);
    font-family: 'Roboto', sans-serif;
}

.catlist {
    width: 80%;
    display: flex;
    margin: 50px auto 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catlist__card {
    position: relative;
    padding: 0;
    margin-bottom: 33px;
    padding: 15px;
    transition: all .2s linear;
}

.card__image {
    width: 225px;
    height: 225px;
}

.card__like {
    display: none;
    position: absolute;
    bottom: 24px;
    right: 19px;
    transition: all .2s linear;
    width: 40px;
    height: 36px;
    background-image: url(img/empty.svg);
}

.catlist__card:hover {
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
}

.card__like.liked {
    background-image: url(img/full.svg);
}

.catlist__card:hover .card__like{
    display: inline;
}

.catlist__card:hover .card__like:hover{
    background-image: url(img/full.svg);
    cursor: pointer;
}




.text_center {
    text-align: center;
    justify-self: center;
}